@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url(/fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url(/fonts/ptsans-400.woff2) format(woff2);
    font-display: swap;
}
body {
    font-family: "PT Sans";
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
}
ul .navigation-item {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    list-style: none;
}
ul .navigation-user-item {
    list-style: none;
}
.navigation-link,
.navigation-user-link,
.footer-contacts-phone,
.footer-about-developers {
    color: #000000;
    text-decoration: none;   
}
.button-main {
    background-color: #756157;
}
.button-additional,
.button-catalog-additional {
    color: #FFFFFF;
    background-color: #82B3D3;
}
.small {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}
.big {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}
.block-text-size {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
.main-index {
    background-image: url("/images/main/background-index.jpg");
    background-size: 1200px 485px;
    background-repeat: no-repeat;
}
ul,
li {
    list-style: none;
}
.reasons h2,
.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
}
.reasons h2 + p {
    text-align: center;  
}
.background-basic {
    background-color: #82B3D3;
    color: #FFFFFF;
}
.background-second-1 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
}
.background-second-2 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
}
.search-title + p {
    text-align: center;
}
.subscribe {
    background-image: url("/images/main/background-subscribe.jpg");
    background-size: 1200px 411px;
    background-repeat: no-repeat;
    color: #FFFFFF;
    text-align: center;
}
::placeholder {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: left;
    color: #333333;
}
ul .footer-social-item {
    list-style: none;
}
