@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format(woff2);
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format(woff2);
    font-display: swap;
}

body {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
    background-color: #FFFFFF;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.page-header-container {
    width: 1060px;
    margin: 0 auto;
    display: flex;
}

.main-container {
    flex-grow: 1;
}

.logo {
    width: 139px;
    margin-right: 30px;
}

img.logo {
    display: block;
    margin: 0;
    margin-bottom: -5px;
}

.navigation {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation-list {
    list-style: none;
    width: 520px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-link {
    display: block;
    padding: 20px 17px;
}

.navigation-user {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 265px;
}

.navigation-user-link {
    min-width: 18px;
    min-height: 18px;
    display: block; 
    padding: 20px 17px;
}

.navigation-link,
.navigation-user-link,
.footer-contacts-phone,
.footer-about-developers {
    color: #000000;
    text-decoration: none;
}

.navigation-link-current {
    text-decoration: underline;
    text-decoration-color: #756157;
    text-decoration-line:underline;
}

.navigation-user-item:nth-child(3) a {
    box-sizing: border-box;
    display: inline-block;
    background-color: #756157;
    border-radius: 4px;
    min-width: 160px;
    padding: 9px 10px 8px;
}

.favorites-header {
    color: #000000;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
}

.button-main {
    background-color: #756157;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
}

.button-additional,
.button-catalog-additional {
    font-family: inherit;
    color: #FFFFFF;
    background-color: #82B3D3;
    text-transform: uppercase;
    text-align: center;
    border-style: none;
}

.small {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

.big {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
    text-decoration: none;
}

.block-text-size {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

label.control {
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}


.logo-welcome {
    background-image: url("../images/main/background-index.jpg");
    background-size: cover;
    text-align: center;
    margin: 0;
    padding: 0;
}

.logo-welcome-img {
    padding-top: 51px;
    padding-bottom: 25px;
}

.background-index-decoration-img {
    display: block;
    margin-bottom: 63px;
    padding: 0;
}

.reasons {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

.reasons h2 {
    padding: 0 30px;
    margin-bottom: 30px;
}

.reasons p {
    padding: 0 30px;
    margin-bottom: 90px;
}

.reasons-sedona-img,
.reasons-evils-bridge-img {
    display: block;
}

.background-basic {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #82B3D3;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

.background-basic-2 {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    background-color: #82B3D3;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

.background-basic h3 {
    text-align: center;
    margin-bottom: 30px;
}

.background-basic-2 h3 {
    text-align: center;
    margin-bottom: 30px;
}

.background-basic p {
    margin-bottom: 30px;
}

.background-basic-2 p {
    margin-bottom: 30px;
}

.background-basic li:nth-child(1) {
    width: 400px;
}

.background-basic-2 li:nth-child(2) {
    width: 400px;
}

.reasons li {
    list-style: none;
}

.reasons-item {
    display: flex;
    margin: 0;
    padding: 0;
}

.reasons-item li {
    box-sizing: border-box;
    padding: 80px 20px;
    width: 400px;
}

.reasons-item img {
    margin-bottom: 30px;
}

.reasons-item h3 {
    margin-bottom: 30px;
}

.reasons-item p {
    margin-bottom: 30px;
}

.reasons h2,
.search-title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-transform: uppercase;
}

.reasons-title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 28px;
}


.background-second-1 {
    background-color: rgba(131, 179, 211, 0.12);
    color: #333333;
    margin: 0;
}

.background-second-2 {
    background-color: rgba(131, 179, 211, 0.2);
    color: #333333;
    margin: 0;
}

.background-second-3 {
    background-color: #FFFFFF;
    color: #333333;
    margin: 0;
}

.search-hotel {
    box-sizing: border-box;
    align-items: center;
    width: 1200px;
    text-align: center;
    padding: 90px 20px;
    margin: 0;
}

.search-hotel h2 {
    margin-bottom: 30px;
}

.search-hotel p {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #333333;
}

.search-hotel a {
    background-color: #756157;
    border-radius: 4px;
    box-sizing: border-box;
    display: inline-block;
    width: 574px;
    padding: 12px;
    text-align: center;
    margin-bottom: 30px;
}

.subscribe {
    background-image: url("../images/main/background-subscribe.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: inherit;
    color: #FFFFFF;
    box-sizing: border-box;
    text-align: center;
    border-style: none;
    padding: 90px 20px 60px 20px;
    margin: 0;
}

.subscribe-title {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subscribe p {
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
    font-weight: 400;
    color: #FFFFFF;
}

.subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    min-width: 600px;
    margin: 0;
    padding-bottom: 30px;
}

.subscribe input {
    border-style: none;
    width: 600px;
    background: #F2F2F2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px;
}

.subscribe button {
    width: 200px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px;
}

.page-footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0;
}

.footer-social-list {
    display: flex;
    max-width: 190px;
    margin: 0;
    padding: 0;
    padding-right: 70px;
    padding-left: 70px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    width: 47px;
    height: 40px;
    padding: 40px 0;
}

.social-link a {
    align-items: center;
    justify-content: center;
}

.footer-contacts {
    display: flex;
    flex-wrap: wrap;
    min-width: 360px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.footer-contacts a {
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
}

.footer-about-developers {
    display: flex;
    flex-wrap: wrap;
    min-width: 120px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    padding-right: 70px;
    padding-left: 70px;
}


.catalog-hotels-search {
    color: #FFFFFF;
    background-image: url("../images/catalog/background-catalog.jpg");
    background-size: cover;
    margin: 0;
    padding: 35px 70px 70px 70px;
}

.catalog-hotels-search-header {
    font-size: 60px;
    line-height: 78px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
}

.breadcrumbs {
    display: flex;
    max-width: 300px;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0;
    padding: 0;

}

.breadcrumbs-item p {
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 0;
}

.breadcrumbs li {
    list-style: none;
    padding-right: 10px;
}

.hotels-search-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

.filter-data {
    display: block;
    padding: 0;
    margin: 0;
}

.filter-data h4 {
    margin: 0;
    padding-bottom: 30px;
}

.control {
    padding-bottom: 15px;
}

.infrastructure {
    display: flex;
    flex-direction: column;
    border-style: none;
    min-width: 151px;
    margin-right: 70px;
}

.type-of-house {
    display: flex;
    flex-direction: column;
    border-style: none;
    min-width: 146px;
    margin-right: 175px;
}

.price-for-house {
    display: flex;
    flex-direction: column;
    max-width: 289px;
}

.filter-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.filter-buttons {
    padding: 10px 35px;
}

.filter-buttons button {
    border-style: none;
}

.button-catalog-additional {
    color: #FFFFFF;
    background-color: #82B3D3;
    display: inline-block;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    width: 160px;
    border-radius: 4px;
    padding: 14px;
}

.button-catalog-reset {
    color: #FFFFFF;
    background-color: transparent;
    display: inline-block;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
    border-bottom-style: none;
    width: 160px;
    border-radius: 4px;
    padding: 14px;
}

.hotels-search-results {
    display: flex;
    box-sizing: border-box;
    width: 1200px;
    height: 49px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 50px 72px;
}

.hotels-search-results-header {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.card-view {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-view-item {
    display: inline-block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border: #E5E5E5 solid 2px;
    margin-right: 8px;
    border-radius: 4px;
}

.card-view-item:nth-child(1) {
    border: #000000 solid 2px;
}

.card-view a {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 15px 14px;
}

.data-item-header {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
}

.price-filter {
    font-family: inherit;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    width: 290px;
    height: 49px;
    border: #E5E5E5 solid 2px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 4px;
}


.catalog {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.catalog-hotel-header {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: left;
    color: #000000;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-bottom: 30px;
    padding-left: 72px;
    padding-right: 72px;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    height: 438px;
    margin-right: 18px;
    list-style: none;
}

.catalog-item:nth-last-child(3n) {
    margin-right: 0;
}

.catalog-item-img {
    display: flex;
    flex-wrap: wrap;
}

.catalog-item img {
    margin: 0;
    padding: 20px 20px 16px 20px;
}

.catalog-item h3 {
    margin: 0;
    padding: 0 20px 16px 20px;
}

.catalog-item-description {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.catalog-item-description p {
    margin: 0;
    padding: 0 20px 16px 0;
}

.catalog-item-description a {
    box-sizing: border-box;
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    text-align: center;
    text-decoration-line: none;
    text-transform: uppercase;
    width: 140px;
    border-radius: 4px;
    padding: 9px;
}

a.button.card-main {
    margin: 0 20px 16px 20px;
    padding: 9px;
}

a.button.card-additional,
a.button.card-checked {
    margin: 0 20px 16px 0;
    padding: 9px;
}


.catalog-item-description img {
    width: 18px;
    height: 17px;
    margin: 10px 6px 10px 0;
    padding: 0;
}

.catalog-item-description img:last-of-type {
    margin-right: auto;
}

img.first-star {
    margin-left: 20px;
}

.catalog-item-description p {
    box-sizing: border-box;
    display: flex;
    margin: 0 20px 20px 20px;
    justify-content: center;
    padding: 9px;
    border-radius: 4px;

}

.card-main {
    background-color: #756157;
}

.card-additional {
    background-color: #82B3D3;
}

.card-checked {
    background-color: #7DB54F;
}

.card-rating-text-size {
    box-sizing: border-box;
    background-color: #F2F2F2;
    width: 140px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: center;
}

.pagination-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.pagination {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    max-width: 400px;
    margin: 0 0 0 73px;
    padding: 0;
    list-style: none;
}

.pagination-item {
    background-color: #82B3D3;
    box-sizing: border-box;
    margin-right: 8px;
    font-size: 20px;
    line-height: 36px;
    font-weight: 700;
    border-radius: 4px;
   
}

.pagination-current {
    background-color: #F2F2F2;
}

.pagination-item:nth-last-child(1) {
    margin-right: 0;
}

a.pagination-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 60px;
    color: #FFFFFF;
    padding: 12px 20px;
}

.pagination-current a {
    color: #000000;
}

.page-number {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    min-width: 386px;
    height: 49px;
    margin: 0 72px 0 0;
    padding: 0;
}

.page-number label {
    text-align: left;
    padding-right: 50px;
}

select.block-text-size,
label.block-text-size {
    font-family: inherit;
    color: #333333;
}

.items-on-page {
    width: 160px;
    height: 49px;
    border: #E5E5E5 solid 2px;
    border-radius: 4px;
}

.subscribe-catalog {
    text-align: center;
    box-sizing: border-box;
    border-style: none;
    padding: 90px 20px 60px 20px;
    margin: 0;
}

.subscribe-catalog h2 {
    text-transform: uppercase;
    margin-bottom: 30px;
}

.subscribe-catalog p {
    margin-bottom: 30px;
}

.subscribe-catalog input {
    border-style: none;
    width: 600px;
    background: #F2F2F2;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 12px;
}

.subscribe-catalog button {
    width: 200px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 12px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}